.version.index /* version checker */
{
	color: #00001B;
	background-color: #C3EBEC;
}

.html
{
	background: #FFFFFF url("../images/img_20150808_130438.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu83
{
	width: 0.01px;
	margin-left: -100px;
}

#u104
{
	z-index: 8;
	width: 137px;
	margin-right: -10000px;
	left: 100px;
}

#u91
{
	z-index: 9;
	width: 137px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u91:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u84-4
{
	z-index: 10;
	width: 81px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 27px;
}

#u109
{
	z-index: 38;
	width: 137px;
	margin-right: -10000px;
	left: 374px;
}

#u102
{
	z-index: 39;
	width: 137px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u91.MuseLinkActive,#u102:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u90-4
{
	z-index: 40;
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 24px;
}

#u108
{
	z-index: 26;
	width: 137px;
	margin-right: -10000px;
	left: 786px;
}

#u103
{
	z-index: 27;
	width: 137px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u102.MuseLinkActive,#u103:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u88-4
{
	z-index: 28;
	width: 81px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 28px;
}

#u105
{
	z-index: 14;
	width: 137px;
	margin-right: -10000px;
	left: 923px;
}

#u98
{
	z-index: 15;
	width: 137px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u103.MuseLinkActive,#u98:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u86-4
{
	z-index: 16;
	width: 101px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 18px;
}

#u83,#u83-bw
{
	z-index: 7;
	min-height: 56px;
}

#u106
{
	z-index: 20;
	width: 137px;
	margin-right: -10000px;
	left: 237px;
}

#u99
{
	z-index: 21;
	width: 137px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u98.MuseLinkActive,#u99:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u87-4
{
	z-index: 22;
	width: 92px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 23px;
}

#u107
{
	z-index: 32;
	width: 137px;
	margin-right: -10000px;
	left: 649px;
}

#u101
{
	z-index: 33;
	width: 137px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u99.MuseLinkActive,#u101:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u89-4
{
	z-index: 34;
	width: 121px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 8px;
}

#u116
{
	z-index: 44;
	width: 137px;
	margin-right: -10000px;
	left: 511px;
}

#u100
{
	z-index: 45;
	width: 137px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u101.MuseLinkActive,#u100:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u110
{
	z-index: 46;
	width: 48px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 45px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 315px;
	margin-top: 42px;
}

#u153-4
{
	z-index: 48;
	width: 343px;
	min-height: 84px;
	background-color: transparent;
	text-align: right;
	font-size: 49px;
	line-height: 59px;
	font-family: advent-pro, sans-serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u211-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u219
{
	z-index: 62;
	width: 625px;
	height: 3px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
}

#u218-6
{
	z-index: 56;
	width: 659px;
	min-height: 84px;
	background-color: transparent;
	text-align: right;
	font-size: 37px;
	line-height: 44px;
	font-family: advent-pro, sans-serif;
	font-weight: 100;
	margin-left: 281px;
	margin-top: 9px;
	position: relative;
}

#u75
{
	z-index: 2;
	min-height: 21px;
	padding-bottom: 4px;
}

#u83_align_to_page,#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u76-4
{
	z-index: 3;
	width: 279px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 441px;
}

#u75-bw
{
	z-index: 2;
	min-height: 21px;
	margin-top: 203px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

