.version.index /* version checker */
{
	color: #0000FC;
	background-color: #791485;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	padding-top: 62px;
	width: 0.01px;
}

#u90
{
	z-index: 11;
	width: 315px;
	background-color: transparent;
	margin-left: 322px;
	position: relative;
}

#u88-4
{
	z-index: 7;
	width: 665px;
	min-height: 36px;
	background-color: transparent;
	line-height: 54px;
	color: #FFFFFF;
	text-align: center;
	font-size: 45px;
	font-family: advent-pro, sans-serif;
	font-weight: 400;
	margin-left: 158px;
	margin-top: 16px;
	position: relative;
}

#pu79
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 73px;
}

#u79,#u79-bw
{
	z-index: 2;
	height: 25px;
}

#u80-4
{
	z-index: 3;
	min-height: 12px;
}

#u80-4-bw
{
	z-index: 3;
	min-height: 12px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

