.version.about /* version checker */
{
	color: #000001;
	background-color: #D04C94;
}

.html
{
	background: #000000 url("../images/imag0418.jpg") no-repeat center top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu92
{
	width: 0.01px;
	margin-left: -100px;
}

#u92
{
	z-index: 7;
	min-height: 45px;
	padding-bottom: 11px;
}

#u92_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u122-6
{
	z-index: 8;
	width: 372px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 120px;
}

#u168-4
{
	z-index: 14;
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 879px;
}

#u168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 17px -10000px 0px 0px;
}

#u168-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 17px -10000px 0px 0px;
}

#u92-bw
{
	z-index: 7;
	min-height: 45px;
}

#u169-4
{
	z-index: 18;
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 942px;
}

#u169-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 17px -10000px 0px 0px;
}

#u169-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 17px -10000px 0px 0px;
}

#u188-4
{
	z-index: 25;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
}

#u188-4-bw
{
	z-index: 25;
	min-height: 50px;
	margin-top: 42px;
}

#u191
{
	z-index: 29;
	width: 960px;
	height: 3px;
	background-color: #FFFFFF;
	margin-top: 9px;
	position: relative;
}

#pu182
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 9px;
}

#u182
{
	z-index: 23;
	width: 237px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u198
{
	z-index: 30;
	width: 474px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#u207
{
	z-index: 22;
	min-height: 450px;
	background-color: #A5A5A5;
	background-color: rgba(0,0,0,0.35);
	-pie-background: rgba(0,0,0,0.35);
}

#u207_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u204-19
{
	z-index: 32;
	width: 920px;
	min-height: 140px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u207-bw
{
	z-index: 22;
	min-height: 450px;
	margin-top: 7px;
}

#pu79
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 73px;
}

#u79,#u79-bw
{
	z-index: 2;
	height: 25px;
}

#u80-4
{
	z-index: 3;
	min-height: 12px;
}

#u80-4-bw
{
	z-index: 3;
	min-height: 12px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

